name: Android Build

on:
  push:
    branches:
      - master
      - dev
  workflow_dispatch:

jobs:
  assemble_job:
    name: Assemble
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{secrets.token}}
          submodules: recursive

      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y.%m')"

      - name: Bump version master
        uses: chkfung/android-version-actions@v1.2.1
        if: ${{ github.ref == 'refs/heads/master' }}
        with:
          gradlePath: app/build.gradle
          versionCode: ${{github.run_number}}
          versionName: ${{ steps.date.outputs.date }}

      - name: Bump version dev
        uses: chkfung/android-version-actions@v1.2.1
        if: ${{ github.ref == 'refs/heads/dev' }}
        with:
          gradlePath: app/build.gradle
          versionCode: ${{github.run_number}}
          versionName: ${{ steps.date.outputs.date }} DEBUG

      - name: set up JDK 17
        uses: actions/setup-java@v2
        with:
          #architecture: 'aarch64'
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: 8.2.1

      - name: Build APK
        id: build
        run: ./gradlew clean assemble

      - uses: r0adkll/upload-google-play@v1
        name: Upload to internal sharing
        id: upload
        if: ${{ github.ref == 'refs/heads/dev' }}
        with:
          serviceAccountJsonPlainText: ${{ secrets.SERVICE_ACCOUNT_JSON }}
          packageName: net.artux.pda
          releaseFiles: app/build/outputs/apk/*/*.apk
          track: internalsharing

      - uses: r0adkll/upload-google-play@v1
        name: Upload to Beta channel
        id: uploadPlay
        if: ${{ github.ref == 'refs/heads/master' }}
        with:
          status: draft
          userFraction: 1.0
          mappingFile: app/build/outputs/mapping/release/mapping.txt
          debugSymbols: app/build/intermediates/merged_native_libs/release/out/lib
          whatsNewDirectory: ./releaseNotes
          serviceAccountJsonPlainText: ${{ secrets.SERVICE_ACCOUNT_JSON }}
          packageName: net.artux.pda
          releaseFiles: app/build/outputs/apk/release/*.apk
          track: beta

      - name: Read updates
        id: updates
        uses: juliangruber/read-file-action@v1
        with:
          path: ./releaseNotes/whatsnew-ru-RU

      - name: Send message to Artux channel
        uses: appleboy/telegram-action@master
        if: ${{ github.ref == 'refs/heads/master' }}
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: |
            Master-сборка ${{github.run_number}}, версия ${{ steps.date.outputs.date }}
            
            Ожидает публикации в beta-канале Google Play
            Изменения:
            ${{ steps.updates.outputs.content }}

      - name: Send message to Artux channel
        uses: appleboy/telegram-action@master
        if: ${{ github.ref == 'refs/heads/dev' }}
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: |
            Debug сборка ${{github.run_number}}, версия ${{ steps.date.outputs.date }}
            
            Ссылки для скачивания dev и prod: 
            ${{steps.upload.outputs.internalSharingDownloadUrls}}
            
            Изменения:
            ${{ steps.updates.outputs.content }}
            
            
